.BlurOn {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    animation-name: BlurOn;
    animation-duration: 0.5s;
    opacity: 1;
}
.BlurOff {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    animation-name: BlurOff;
    animation-duration: 0.5s;
    opacity: 0;
}
.alertGUI {
    display: grid;
    grid-template-rows: 1fr 30px 55px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    width: 500px;
    min-height: 100px;
    background-color: white;
}
.alertGUI-top {
    padding: 15px;
}
.alertGUI-bottom {
    padding: 5px 20px 5px 20px;
}
.alertGUI-bottom button {
    padding: 5px 20px;
    float: right;
    border: none;
    color: white;
    background-color: #2d2f31;
    text-transform: uppercase;
    transition: 0.25s;
}
.alertGUI-bottom button:hover {
    background-color: #5022C3;
}

@keyframes BlurOn
{
    0%{opacity: 0;}
}
@keyframes BlurOff
{
    0%{opacity: 1;}
}