.footer {
    margin-top: 20px;
    background-color: #2d2f31;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 80% 300px;
    grid-template-rows: 82px 1fr 100px;
    row-gap: 20px;
}
.footer-top-left {
    color: white;
    padding: 10px 0 0 30px;
}
.footer-top-right button {
    margin-top: 10px;
    font-size: 22px;
    padding: 10px 20px;
    border: 2px solid gray;
    background-color: #2d2f31;
    color: white;
    font-weight: bold;
    transition: 0.25s;
}
.footer-top-right button:hover {
    background-color: hwb(0 27% 73%);
}
.footer-center-left {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    padding-left: 30px;
}
.footer-center-left a {
    color: white;
    text-decoration: none;
}
.footer-center-left a:hover {
    text-decoration: underline;
}
.footer-center-left p {
    margin: 5px;
}
.footer-center-right button {
    font-size: 22px;
    padding: 10px 20px;
    border: 2px solid gray;
    background-color: #2d2f31;
    color: white;
    font-weight: bold;
    transition: 0.25s;
}
.footer-center-right button:hover {
    background-color: hwb(0 27% 73%);
}
.footer-bottom-left {
    padding: 10px 0 0 30px;
}
.footer-bottom-left img {
    width: 100px;
}
.footer-bottom-rigth {
    color: white;
    display: grid;
    place-content: center;
}