.main {
    grid-template-rows: 0px 75px auto auto;
}
.body {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1350px) 1fr;
}
.body-center {
    display: grid;
    grid-template-rows: 400px auto;
    row-gap: 30px;
    grid-column: 2;
}
.body-slideshow {
    position: relative;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}
.body-slideshow img {
    width: 100%;
    border-radius: 10px;
}
.body-slideshow button {
    position: absolute;
    font-size: 35px;
    background-color: black;
    color: white;
    padding: 0 13px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 100px;
    transition: 0.25s;
}
.body-slideshow button:hover {
    background-color: hsl(0, 0%, 20%);
}
#prev {
    left: 15px;
}
#next {
    right: 15px;
}
.body-slideshow-message {
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    position: absolute;
    max-width: 500px;
    padding: 20px;
    background-color: white;
}
.body-container {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 30px;
    width: 100%;
    height: 100%;
}
.category-items {
    border-radius: 15px;
    display: grid;
    grid-template-rows: 60px 1fr;
    row-gap: 10px;
    box-shadow: 0 0 10px gray;
}
.category-items-top {
    display: grid;
    grid-template-columns: 1fr 250px;
}
.category-items-top-left {
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.category-items-top-right {
    border-radius: 0 15px 0 0;
}
.category-items-top-right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.category-items-top-right i {
    color: red;
}
.category-items-bottom {
    padding: 0 10px 0 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 350px;
    gap: 10px;
}
.category-items-bottom-items {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 10px;
    height: 100%;
}
.category-items-bottom-items-top {
    position: relative;
}
#tag-top {
    display: grid;
    place-content: center;
    color: white;
    top: 0;
    position: absolute;
    width: 120px;
    right: 0;
    height: 30px;
    background-color: rgb(255, 149, 0);
}
#tag-sale {
    display: grid;
    place-content: center;
    color: white;
    top: 0;
    position: absolute;
    width: 90px;
    height: 30px;
    background-color: red;
}
.category-items-bottom-items-top img {
    object-fit: cover;
    width: 100%;
}
.category-items-bottom-items-bottom {
    padding: 0 5px;
}
.category-items-bottom-items-bottom p {
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
}
.category-items-bottom-items-bottom a {
    color: black;
    text-decoration: none;
    transition: 0.25s;
}
.category-items-bottom-items-bottom a:hover {
    color: #5022C3;
}
.body-container-normal {
    display: grid;
    row-gap: 30px;
}
#controls {
    display: none;
    border-radius: 15px;
    padding: 0 10px;
    background-color: white;
    color: black;
    transform: translate(-50%, -50%);
    font-size: 30px;
    top: 50%;
    left: 50%;
    position: absolute;
    animation-name: Fade;
    animation-duration: 0.5s;
}
#controls a {
    color: black;
    transition: 0.25s;
}
#controls a:hover {
    color: #5022C3;
}
@keyframes Fade {
    from {opacity: .5;};
    to {opacity: 1;};
}
#lastprice {
    color: gray;
}
.FLASTSALE {
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    background-image: linear-gradient(to right, #FB0808, #D8FF00);;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}